.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 7vi auto;
    border: 1px solid #888;
    width: 25vi;
    height: 35vi;
    border-radius: 0.5vi;
}

.abeja_fondo{
    width: 100%;
    height: 33%;
}

.modal_title {
    margin: 1vi 2vi;
    font-size: 1.25vi;
    text-align: center;
}

.modal_text {
    font-size: 0.9vi;
    margin: 0 2vi;
    text-align: center; 
}
